{% extends "design.html" %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='style/effect2.css') }}">{% endblock %}
{% block script %}<script src="/static/js/pa5.js" defer></script>{% endblock %}
{% block design %}{% endblock %}
{% block content %}

<h1>Actors</h1>

<div class="flex-container">
    {% for actor in actors %}
  <div class="flex-cards" id="{{ actor.death }}">
        <span>{{ actor.name }}</span>
        <span>({{ actor.age }})</span><br>
        <span class="played">{{ actor.count }} shows</span>
  </div>
    {% endfor %}
</div>



{% endblock %}