{% extends "design.html" %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='style/effect3.css') }}">{% endblock %}
{% block script %}<script src="/static/js/pa7.js" defer></script>{% endblock %}
{% block design %}{% endblock %}
{% block content %}

<div class="card">

    <form action="/pa7">
    <label for="genre">Click and pick a genre!</label><br>
    <select name="genre" id="genre">
        {% for genre in genres %}
        <option value="{{ genre.name }}">{{ genre.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
    </form>

    <div class="flex-container1">
        {% for show in shows %}
      <div class="flex-card1" id="{{ show.character_count }}">
          <span class="shows">{{ show.title }}</span><br>
          <span class="count">{{ show.character_count }} character(s)</span>
      </div>
        {% endfor %}
    </div>



</div>


{% endblock %}